
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #d7f53f;
    background-color: rgb(155, 175, 184);
    text-align: left;
    
    
}

h1 {
    text-align: center;
    color: #f70000;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 6em;
    position: relative;
}
p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 20%;
    margin-left: 5%;
}
#moods {
    text-align: center;
    z-index: -2;
    position: absolute;
    right: 0px;
    top: 0;
    margin-right: 10px;
}
.time {
    font-family: 'UnifrakturMaguntia', cursive;
    color: #f8f8f8;
    font-size: 190px;
    text-align: left;
    margin-top:2px;
    margin-left: 80px;
    margin-bottom: 0;
}